<md-input-container class="md-block">
  <input ng-model="InputView.formItem.value"
         type="{{InputView.formItem.config.type}}"
         placeholder="{{InputView.formItem.config.placeholder}}"
         ng-disabled="InputView.isDisabled"
         ng-required="InputView.formItem.config.required" />
  <div ng-messages="InputView.form.$error">
    <div ng-message="required">This field is required</div>
  </div>
</md-input-container>
