<md-input-container class="md-block">
  <label translate="Field.DIALOG.FORM.PLACEHOLDER"></label>
  <input type="text" ng-model="Input.item.config.placeholder" />
</md-input-container>
<md-input-container class="md-block">
  <label translate="Field.DIALOG.FORM.TYPE"></label>
  <md-select ng-model="Input.item.config.type">
    <md-option translate="Field.DIALOG.FORM.TYPE_TEXT" value="text">
    </md-option>
    <md-option translate="Field.DIALOG.FORM.TYPE_NUMBER" value="number">
    </md-option>
  </md-select>
</md-input-container>
