  <div class="formItem" ng-class="formItem.type" attr-itemId="{{formItem.id}}" ng-repeat="formItem in FormView.form.items track by $index" ng-switch="formItem.type"
       layout="column">
    <ng-form name="formItemForm">
      <div>
        <div ng-hide="formItem.type === 'checkbox'" class="formItem-title">{{formItem.props.title}}</div>
        <div ng-hide="formItem.type === 'button' || formItem.type === 'checkbox'" class="formItem-help-text">{{formItem.props.helpText}}</div>

        <checkboxes-view is-disabled="FormView.disabled" form-item="formItem" is-preview="true" form="formItemForm" ng-switch-when="checkboxes"></checkboxes-view>
        <checkbox-view is-disabled="FormView.disabled" form-item="formItem" is-preview="true" form="formItemForm" ng-switch-when="checkbox"></checkbox-view>
        <radio-button-view is-disabled="FormView.disabled" form-item="formItem" is-preview="true" form="formItemForm" ng-switch-when="multipleChoices"></radio-button-view>
        <input-view is-disabled="FormView.disabled" form-item="formItem" form="formItemForm" ng-switch-when="input"></input-view>
        <textarea-view is-disabled="FormView.disabled" form-item="formItem" form="formItemForm" ng-switch-when="textarea"></textarea-view>
        <matrix-view is-disabled="FormView.disabled" form-item="formItem" is-preview="true" form="formItemForm" ng-switch-when="matrix"></matrix-view>
        <select-view is-disabled="FormView.disabled" form-item="formItem" is-preview="true" form="formItemForm" ng-switch-when="chooseFromList"></select-view>
        <button-view is-disabled="FormView.disabled" form-item="formItem" is-preview="true" form="formItemForm" ng-switch-when="button"></button-view>
        <button-set-view is-disabled="FormView.disabled" form-item="formItem" is-preview="true" form="formItemForm" ng-switch-when="buttonSet"></button-set-view>
        <div style="top: -30px; position: relative;" ng-show="formItem.type === 'checkbox'" class="formItem-help-text">{{formItem.props.helpText}}</div>
      </div>
    </ng-form>
  </div>
