<div class="sortable-container" layout="column" sv-root sv-part="Select.item.options">

  <div class="option-item" layout="row" ng-repeat="option in Select.item.options track by $index" sv-element>

    <md-button class="md-button handle" md-no-ink aria-label="reorder option item" sv-handle>
      <i class="icon icon-drag-horizontal fuse-icons"></i>
    </md-button>

    <md-input-container class="md-block">
      <label>Option {{$index + 1}}</label>
      <input ng-model="option.value" />
    </md-input-container>

    <md-button class="md-button md-warn" ng-click="Select.deleteOption($index)">
      <i class="icon icon-delete fuse-icons"></i>
    </md-button>

  </div>

  <md-button class="md-raised md-accent" ng-click="Select.addOption()">Add Option</md-button>
</div>
