<md-input-container>
  <div layout="{{CheckboxView.formItem.config.direction == 'horizontal' ? 'row' : 'column'}}">
    <md-checkbox ng-model="CheckboxView.formItem.props.selected"
                 ng-disabled="(CheckboxView.disableOptions && !option.selected) || CheckboxView.isDisabled"
                 aria-label="...">{{CheckboxView.formItem.props.title}}</md-checkbox>
  </div>

  <div ng-messages="CheckboxView.form.$error">
    <div ng-message="minSelections">Must select {{CheckboxView.formItem.maxSelections || 1}} items</div>
  </div>
</md-input-container>
