<div class="sortable-container" layout="column" sv-root sv-part="ButtonSet.item.options">

    <label ng-if="ButtonSet.item.config.direction == 'horizontal'" translate="Field.DIALOG.FORM.LAYOUT_HORIZONTAL">LAYOUT_HORIZONTAL</label>
    <label ng-if="ButtonSet.item.config.direction != 'horizontal' " translate="Field.DIALOG.FORM.LAYOUT_VERTICAL">LAYOUT_VERTICAL</label>
    <md-switch ng-if="ButtonSet.item.config.direction == 'horizontal' " ng-model="ButtonSet.item.config.direction" ng-true-value="'horizontal'" ng-false-value="'vertical'">
    </md-switch>
    <md-switch ng-if="ButtonSet.item.config.direction != 'horizontal' " ng-model="ButtonSet.item.config.direction" ng-true-value="'horizontal'" ng-false-value="'vertical'">
    </md-switch>



  <div class="option-item" layout="row" ng-repeat="option in ButtonSet.item.options track by $index" sv-element>

    <md-button class="md-button handle" md-no-ink aria-label="reorder option item" sv-handle>
      <i class="icon icon-drag-horizontal fuse-icons"></i>
    </md-button>

    <md-input-container class="md-block">
      <label>Option {{$index + 1}}</label>
      <input ng-model="option.value" />
    </md-input-container>

    <md-button class="md-button md-warn" ng-click="ButtonSet.deleteOption($index)">
      <i class="icon icon-delete fuse-icons"></i>
    </md-button>

  </div>

  <div>
    <md-button translate="Field.DIALOG.FORM.ADD_OPTION" class="md-raised md-accent add-option-button" style="width: auto;" ng-click="ButtonSet.addOption()"></md-button>
  </div>

</div>
