<md-button   class="md-raised md-primary"
             style="{{ButtonSetView.formItem.config.direction == 'horizontal' ? '' : 'display:block'}}"
             ng-bind="option.value"
             ng-repeat="option in ButtonSetView.formItem.options track by $index"
             button-id="{{'button_id_set_'+option.id}}"
             ng-click="option.clicked = true"
             ng-disabled="option.disabled || option.isDisabled">
</md-button>

<div ng-messages="ButtonSetView.form.$error">
  <div ng-message="required">This field is required</div>
</div>

