<md-input-container>
  <div layout="{{CheckboxesView.formItem.config.direction == 'horizontal' ? 'row' : 'column'}}">
    <md-checkbox ng-repeat="option in CheckboxesView.formItem.options track by $index"
                 ng-model="option.selected"
                 ng-change="CheckboxesView.toggleSelectedOption(option)"
                 ng-disabled="(CheckboxesView.disableOptions && !option.selected) || CheckboxesView.isDisabled"
                 aria-label="...">{{option.value}}</md-checkbox>
  </div>

  <div ng-messages="CheckboxesView.form.$error">
    <div ng-message="minSelections">Must select {{CheckboxesView.formItem.maxSelections || 1}} items</div>
  </div>
</md-input-container>
