<!doctype html>
<html ng-app="angularMaterialFormBuilder" layout="column">
  <head>
    <meta charset="utf-8">
    <title>Angular Material Form Builder</title>
    <meta name="description" content="AngularJS dynamic form builder with material design implementation">
    <meta name="keywords" content="angular, angularjs, google material, material design, form builder, form generator">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="MainController as main" class="main-view">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="content" layout="row" layout-padding layout-margin layout-fill>

      <div flex layout="column" class="builder">
        <h2>Form Builder</h2>
        <div layout="column">
        <form-item ng-repeat="item in main.form.items track by $index"
                   type="{{item.type}}"
                   item="item"
                   index="$index"
                   on-delete="main.delete(item, index)"
                   on-up="main.up(item, index)"
                   on-down="main.down(item, index)">

        </form-item>
      </div>
        <!--<form-items-container form="main.form"></form-items-container>-->
      </div>

      <div flex layout="column" class="view">
        <h2>Preview</h2>
        <form name="myFrom">
          <form-view disabled="false" form="main.form"></form-view>
        </form>
      </div>

      <div flex="20" layout="column" class="json">
        <h2>Json</h2>
        <pre>{{main.form | json}}</pre>
      </div>
    </div>

    <md-fab-speed-dial md-open="main.isOpen" md-direction="up" class="md-fab-bottom-right md-scale">
      <md-fab-trigger>
        <md-button aria-label="..." class="md-fab md-warn">
          <i class="material-icons medium ">add</i>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('matrix')">
          <i class="material-icons">grid_on</i>
          <md-tooltip md-direction="left" md-autohide>Matrix</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('textarea')">
          <i class="material-icons">keyboard</i>
          <md-tooltip md-direction="left" md-autohide>Text-Area</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('input')">
          <i class="material-icons">text_format</i>
          <md-tooltip md-direction="left" md-autohide>Text-Input</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('multipleChoices')">
          <i class="material-icons">radio_button_checked</i>
          <md-tooltip md-direction="left" md-autohide>Radio-Buttons</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('checkboxes')">
          <i class="material-icons">check_boxes</i>
          <md-tooltip md-direction="left" md-autohide>Checkboxes</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('checkbox')">
          <i class="material-icons">check_box</i>
          <md-tooltip md-direction="left" md-autohide>Checkbox</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('chooseFromList')">
          <i class="material-icons">playlist_add_check</i>
          <md-tooltip md-direction="left" md-autohide>chooseFromList</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('button')"><i class="material-icons">picture_in_picture_alt</i>
          <md-tooltip md-direction="left" md-autohide="">Button</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="main.addItem('buttonSet')"><i class="material-icons">picture_in_picture_alt</i>
          <md-tooltip md-direction="left" md-autohide="">ButtonSet</md-tooltip>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>

    <a href="https://github.com/vlio20/angular-material-form-builder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
