<md-input-container class="md-block">
  <label translate="Field.DIALOG.FORM.CAPTION"></label>
  <input type="text" ng-model="Button.item.config.caption" />
</md-input-container>
<md-input-container ng-show="false" class="md-block">
  <label translate="Field.DIALOG.FORM.BUTTON_ID"></label>
  <input type="text" ng-model="Button.item.config.buttonId" />
</md-input-container>
