<div class="form-item-container" class="md-inline-form">

  <div class="form-item-actions">
    <md-button class="md-button" ng-if="FormItem.Attrs.onDelete" ng-click="FormItem.deleteClicked()">
      <i class="icon icon-delete fuse-icons small"></i>
    </md-button>
    <md-button class="md-button" ng-if="FormItem.Attrs.onUp" ng-click="FormItem.onUp({item: FormItem.item, index: FormItem.index()})">
      <i class="icon icon-arrow-up fuse-icons small"></i>
    </md-button>
    <md-button class="md-button" ng-if="FormItem.Attrs.onDown" ng-click="FormItem.onDown({item: FormItem.item, index: FormItem.index()})">
      <i class="con icon-arrow-down fuse-icons small"></i>
    </md-button>
  </div>

  <md-input-container class="md-block">
    <label translate="Field.DIALOG.FORM.TITLE"></label>
    <input ng-model="FormItem.item.props.title"/>
  </md-input-container>

  <md-input-container class="md-block" ng-hide="FormItem.item.type == 'button' || FormItem.item.type == 'buttonSet'">
    <label translate="Field.DIALOG.FORM.HELP"></label>
    <input ng-model="FormItem.item.props.helpText" />
  </md-input-container>

  <div ng-switch="FormItem.item.type">
    <input-item ng-switch-when="input" item="FormItem.item"></input-item>
    <radio-button-item ng-switch-when="multipleChoices" item="FormItem.item"></radio-button-item>
    <matrix-item ng-switch-when="matrix" item="FormItem.item"></matrix-item>
    <checkbox-item ng-switch-when="checkbox" item="FormItem.item"></checkbox-item>
    <checkboxes-item ng-switch-when="checkboxes" item="FormItem.item"></checkboxes-item>
    <textarea-item ng-switch-when="textarea" item="FormItem.item"></textarea-item>
    <select-item ng-switch-when="chooseFromList" item="FormItem.item"></select-item>
    <button-item ng-switch-when="button" item="FormItem.item"></button-item>
    <button-set-item ng-switch-when="buttonSet" item="FormItem.item"></button-set-item>
    <p ng-switch-default>UNKNOWN TYPE</p>
  </div>

  <md-input-container class="md-block" ng-hide="FormItem.item.type == 'buttonSet' || FormItem.item.type == 'checkbox'">
    <md-checkbox ng-model="FormItem.item.config.required">
      <span translate="Field.DIALOG.FORM.REQUIRED_FIELD"></span>
    </md-checkbox>
  </md-input-container>

</div>
